 .screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontla-space);
    margin-bottom: 15px;
 }

 .screen-header__title {
    font-size: 32px;
    font-weight: 600;
 }
 
 .screen-header__icons span {
    margin-left: 25px;
    position: relative;
 }

 .screen-header__won {
   background-color: tomato;
   opacity: 0.96;
   width: 6px;
   height: 6px;
   border-radius: 100%;
   position: absolute;
   left: 20px;
   bottom: 23px;
 }
